<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    
</head>
<body>
    {% extends "base.html" %}

    {% block title %}
    Attendance
    {% endblock %}

    {% block content %}

    <h2>Attendance Records</h2>

    <form method="GET" style="margin-bottom:20px;">

    <select name="sort" onchange="this.form.submit()"
        style="
        padding:10px;
        border-radius:8px;
        font-size:16px;">

        <option value="newest" {% if sort=="newest" %}selected{% endif %}>Newest First</option>
        <option value="oldest" {% if sort=="oldest" %}selected{% endif %}>Oldest First</option>
        <option value="name" {% if sort=="name" %}selected{% endif %}>Name A-Z</option>

    </select>

    </form>

    <input type="text" id="searchInput" placeholder="🔍 Search Visitor..." onkeyup="searchTable()"
    style="
        width:300px;
        padding:10px;
        margin:20px 0;
        border-radius:8px;
        border:1px solid #ccc;
        font-size:16px;"
    >

    <table id="attendanceTable">

    <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>

    </tr>

    {% for row in records %}

    <tr>
    <td>
        <img src="/{{ row.Photo }}"
        width="60"
        height="60"
        style="border-radius:50%; object-fit:cover;" 
        alt="No Photo Available">
    </td>

    <td>{{ row.Name }}</td>
    <td>{{ row.Date }}</td>
    <td>{{ row.Time }}</td>

    </tr>

    {% endfor %}

    </table>

    <br>

    <div style="display:flex; gap:15px; justify-content: center; margin-top:20px;">

        <a href="/">
            <button>Home</button>
        </a>

        <a href="/download">
            <button>⬇ Download CSV</button>
        </a>

    </div>

    <script>
        function searchTable(){
            let input = document.getElementById("searchInput");
            let filter = input.value.toUpperCase();

            let table = document.getElementById("attendanceTable");
            let tr = table.getElementsByTagName("tr");

            for(var i=1; i<tr.length; i++){
                let td = tr[i].getElementsByTagName("td")[1]

                if(td){
                    let text = td.textContent || td.innerText

                    if(text.toUpperCase().indexOf(filter)> -1){
                        tr[i].style.display = "";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    {% endblock %}
</body>
</html>