<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Visitor Management System</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}
    Home
    {% endblock %}

    {% block content %}

    <h2>Dashboard</h2>

    <br>
    <div style="display:flex; gap:30px; flex-wrap:wrap; justify-content: center; margin-top:25px;">
        <a href="/register">
        <button class="dashboard-btn">Register Visitor</button>
        </a>

        <br><br>

        <a href="/recognize">
        <button class="dashboard-btn">Start Recognition</button>
        </a>

        <a href="/attendence">
        <button class="dashboard-btn">Get Attendance</button>
        </a>

    </div>
    
    {% endblock %}
</body>
</html>