<!DOCTYPE html>
<html>
<head>
    <title>Camera Stopped</title>
    <style>
        p{
            margin: 2em;
        }
    </style>
</head>

<body style="text-align:center; font-family:Arial;">

    {% extends "base.html" %}

     {% block title %}
        Camera Stopped
     {% endblock %}

     {% block content %}
        <h1>Camera Stopped</h1>

        <p>The webcam has been released successfully.</p>

        <a href="/">
            <button>Home</button>
        </a>
     {% endblock %}

</body>
</html>
